@using FoodTracker.Scripts
@using FoodTracker.Scripts.Utils

@foreach (FoodItem foodItem in foodItems)
{
    <div>
        <label>@foodItem</label>
        <div>Calories: @foodItem.Calories</div>
        <div>Protein: @foodItem.Protein.value@FoodUtils.MacroToUnitAbbv(Macros.Protein)</div>
        <div>Carbs: @foodItem.Carbs.value@FoodUtils.MacroToUnitAbbv(Macros.Carb)</div>
        <div>Fat: @foodItem.Fat.value@FoodUtils.MacroToUnitAbbv(Macros.Fat)</div>
    </div>
    <hr />
}

@code {
    [Parameter] public List<FoodItem> foodItems { get; set; } = new List<FoodItem>();
}
